<div class="card left">
  <div class="card-body">
    <div class="row identificacao">
      <p>Identificação do aluno</p>
    </div>
    <div class="row">
      <div class="col-auto">
        <img class="img" src="../../../assets/img/person.png" height="50px" />
      </div>
      <div class="col-auto">
        <div class="row">
          <p class="nome">{{identificacaoAluno.nome}}</p>
        </div>
        <div class="row amj">
          <p class="hashtag">{{identificacaoAluno.hashtag}}</p>
        </div>
      </div>
    </div>
  </div>
</div>