<div class="card right">
  <h5 class="card-title2">Exercicios</h5>
  <div class="card-body">
    <div class="col-sm-7 principal-right">
      <div class="pesquisa">
        <i class="bi bi-search" aria-hidden="true"></i>
        <input id="pesquisa" type="text" name="" placeholder="Pesquisar Exercício" />
      </div>
    </div>
    <div class="col scroll2 flex-nowrap" id="pesquisaLista">
      <div class="col-sm-11 marge">
        <div class="card mini">
          <div class="card-body">
            <i class="bi bi-plus-circle mais"></i>
            <div class="row">
              <div class="col-auto img2">
                <img src="../../../../assets/img/pull.png" height="60px" />
              </div>

              <div class="col information">
                <div class="row pull">
                  <p>Agachamentos</p>
                </div>
                <div class="row lats">
                  <div class="col">
                    <p>gemeo</p>
                  </div>
                  <div class="col">
                    <p>coxa</p>
                  </div>
                </div>
                <div class="row exercicio">
                  <p>Exercício criado por:</p>
                </div>
                <div class="row nameTreiandor">
                  <p>Treinador2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-11 marge">
        <div class="card mini">
          <div class="card-body">
            <i class="bi bi-plus-circle mais"></i>
            <div class="row">
              <div class="col-auto img2">
                <img src="../../../../assets/img/pull.png" height="60px" />
              </div>

              <div class="col information">
                <div class="row pull">
                  <p>Elevações</p>
                </div>
                <div class="row lats">
                  <div class="col">
                    <p>Ombro</p>
                  </div>
                  <div class="col">
                    <p>Braços</p>
                  </div>
                </div>
                <div class="row exercicio">
                  <p>Exercício criado por:</p>
                </div>
                <div class="row nameTreiandor">
                  <p>Treinador3</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-11 marge">
        <div class="card mini">
          <div class="card-body">
            <i class="bi bi-plus-circle mais"></i>
            <div class="row">
              <div class="col-auto img2">
                <img src="../../../../assets/img/pull.png" height="60px" />
              </div>

              <div class="col information">
                <div class="row pull">
                  <p>Burpees</p>
                </div>
                <div class="row lats">
                  <div class="col">
                    <p>Braços</p>
                  </div>
                  <div class="col">
                    <p>Pernas</p>
                  </div>
                </div>
                <div class="row exercicio">
                  <p>Exercício criado por:</p>
                </div>
                <div class="row nameTreiandor">
                  <p>Treinador4</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-11 marge">
        <div class="card mini">
          <div class="card-body">
            <i class="bi bi-plus-circle mais"></i>
            <div class="row">
              <div class="col-auto img2">
                <img src="../../../../assets/img/pull.png" height="60px" />
              </div>

              <div class="col information">
                <div class="row pull">
                  <p>Pull</p>
                </div>
                <div class="row lats">
                  <div class="col">
                    <p>Lats</p>
                  </div>
                  <div class="col">
                    <p>Biceps</p>
                  </div>
                </div>
                <div class="row exercicio">
                  <p>Exercício criado por:</p>
                </div>
                <div class="row nameTreiandor">
                  <p>Treinador1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-11 marge">
        <div class="card mini">
          <div class="card-body">
            <i class="bi bi-plus-circle mais"></i>
            <div class="row">
              <div class="col-auto img2">
                <img src="../../../../assets/img/pull.png" height="60px" />
              </div>

              <div class="col information">
                <div class="row pull">
                  <p>Pull</p>
                </div>
                <div class="row lats">
                  <div class="col">
                    <p>Lats</p>
                  </div>
                  <div class="col">
                    <p>Biceps</p>
                  </div>
                </div>
                <div class="row exercicio">
                  <p>Exercício criado por:</p>
                </div>
                <div class="row nameTreiandor">
                  <p>Treiandor1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>