<!-- <div class="filtro row">
  <div class="col-auto">
    <form action="">
      <div class="col-auto">
        <p>Filtrar por:</p>
      </div>
      <div class="col">
        <select name="filtar" id="fMarcas" class="form-control shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <option class="dropdown-item" value="NomeAsc">Nome Ascendente</option>
          <option class="dropdown-item" value="NomeDesc">Nome Descendente</option>
          <option class="dropdown-item" value="ComMob">C/ Mobilidade</option>
          <option class="dropdown-item" value="SemMob">S/ Mobilidade</option>
        </select>
      </div>
    </form>
  </div>
</div> -->

<div class="filtro row">
    <div class="col-auto">
      <p>Filtrar por:</p>
    </div>
    <div class="col-3">
      <div class="dropdown">
        <button class="form-control shadow-none dropdown-toggle" type="button" id="dropdownFiltro"
          data-bs-toggle="dropdown" aria-expanded="false" [style.font-size.px]='12'>
          {{filtro}}
        </button>
        <ul (click)="selecionarFiltro($event)" class="dropdown-menu" aria-labelledby="dropdownFiltro">
          <li><a class="dropdown-item">Todos</a></li>
          <li><a class="dropdown-item">Nome Ascendente</a></li>
          <li><a class="dropdown-item">Nome Descendente</a></li>
          <li><a class="dropdown-item">C/ Mobilidade</a></li>
          <li><a class="dropdown-item">S/ Mobilidade</a></li>
        </ul>
      </div>
    </div>
  </div>