<p>utilizadores-logados works!</p>
<div class="card utilizadores">
  <h5 class="card-title users">Utilizadores</h5>
  <div class="card-body col-auto scroll flex-nowrap notificacoes">
    <div class="card-body">
      <div class="col-auto right">
        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>

        <hr />
        <div class="row linha-user">
          <div class="col-auto">
            <div class="container">
              <img class="img" src="../../../assets/img/person.png" height="50px" />

              <i class="bi bi-circle-fill circle"></i>
            </div>
          </div>

          <div class="col-auto name">
            <p>Henrique</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>