.notificacoes-container {
  margin-bottom: 10px;
}
.col-sm-6 {
  margin: 0px;
  padding: 0px;
}

.notificacoes-list {
  overflow-y: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  height: 625px;
}

.card-title {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.notificacoes.row {
  justify-content: space-around;
  width: 100%;
}

.btn-dropdown-filtro {
  width: 400px;
  text-align: left;
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #4d4d4d;
}

.btn-dropdown-filtro:focus:not(:focus-visible) {
  outline: 0;
  background-color: white;
  color: #4d4d4d;
  border-color: #4d4d4d;
}

.btn-dropdown-filtro:hover {
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #4d4d4d;
}

.notificacao-card {
  height: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0px;
}

.notificacao-card i {
  color: #ff5050;
}

.notificacao-card p {
  margin: 0px;
}

.notificacao-card img {
  height: 60px;
}

.notificacao-card .data {
  font-size: 12px;
  color: #989191;
}

.notificacao-card .content {
  margin: 15px 15px 0px 15px;
}

.notificacao-card .content .conteudo {
  font-size: 20px;
}

.notificacao-card .date .row {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.notificacao-card .row {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.notificacao-card .user-info p {
  margin: 0px;
}

.notificacao-card .container {
  position: relative;
  margin: 0px;
}

.notificacao-card .image {
  margin: 0px;
}

.notificacao-card .image-icon {
  position: absolute;
  font-size: 23px;
  top: 53%;
  left: 66%;
}

.hashtag {
  color: #989191;
  margin: 0px;
  line-height: 15px;
  font-size: 15px;
}

.anuncio-card {
  height: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 15px;
}

.anuncio-card .date .row {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.anuncio-card .row {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.anuncio-card .admin-info .col-auto {
  padding: 3px;
}

.anuncio-card .content p {
  padding-left: 3px;
  padding-right: 3px;
  margin: 0px;
}

.anuncio-card h4 {
  margin: 0px;
}

.anuncio-card .data {
  font-size: 12px;
  margin: 0px;
  color: #989191;
}
