<app-header></app-header>

<!--Main Page-->
<div class="main-page">
  <div class="row">
    <!--Left Column-->
    <div class="left-col col-sm-6">
      <app-agendamentos-desafios></app-agendamentos-desafios>
      <app-meus-exercicios></app-meus-exercicios>
      <app-grafico></app-grafico>
    </div>
    <div class="right-col col-sm-6">
      <div class="container-right">
        <div class="row alunos-button">
          <div class="alunos-button">
            <button routerLinkActive="active" routerLink="/treinador/alunos" type="button"
              class="btn btn-lg shadow-none btn-primary">
              Alunos
            </button>
          </div>
        </div>
      </div>
      <app-planos-treino></app-planos-treino>
      <app-agendamentos-breaf></app-agendamentos-breaf>
      <div class="container-right">
        <div class="row">
          <div class="col-sm-7">
            <app-desafios-decorrer-breaf></app-desafios-decorrer-breaf>
            <br>
            <app-ver-publicacoes-card></app-ver-publicacoes-card>
          </div>
          <div class="col-sm-5">
            <app-ver-colocacoes></app-ver-colocacoes>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>