<div class="col" id="marca{{marca.marca_id}}" style="display: block;" [ngStyle]="{'order':index}">
    <div class="card" id="cartao{{marca.marca_id}}">
        <div class="info-marca">
            <div class="marca-logo" id="marcaLogo{{marca.marca_id}}" [ngStyle]="{'border-color': marca.cor}">
                <img class="imagem-logo" src="{{marca.logotipo}}">
            </div>
            <div class="conteudo-marca">
                <label class="nome-marca" id="nomeMarca{{marca.marca_id}}" for="marcaLogo1">{{marca.nome}}</label>
                <div class="div-mobilidade">
                    <input id="inputMobilidade{{marca.marca_id}}" type="checkbox" disabled="" value="{{marca.mobilidade}}"
                        [checked]="marca.mobilidade">
                    <label for="inputMobilidade{{marca.marca_id}}" class="label-mobilidade">Mobilidade</label>
                </div>
            </div>
        </div>
        <div class="album py-3">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" [ngStyle]="{'justify-content' : 'space-around'}">
                    <button class="col-auto" id="Ginásios{{marca.marca_id}}" (click)="verGinasios(marca.marca_id)">Ginásios <i class="bi bi-arrow-right-circle-fill"></i></button>
                    <button class="col-auto" id="Treinadores{{marca.marca_id}}" (click)="verTreinadores(marca.marca_id)">Treinadores <i class="bi bi-arrow-right-circle-fill"></i></button>
                    <button class="col-auto" id="Publicações{{marca.marca_id}}" (click)="verPublicacoes(marca.marca_id)">Publicações <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>