<div class="col-sm-12 ">
  <div class="card central">
    <div class="card body">
      <table class="agendamentos">
        <thead>
          <tr>
            <th class="hour-td"></th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
            <th>Domingo</th>
          </tr>
        </thead>
        <tr>
          <td class="hour-td">8:00</td>
          <td class="agendamento done">
            <h6>Nome do aluno</h6>
            <p>8:00 - 9:00</p>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td class="agendamento agendamento-lg avaliacao name">
            <h6>Nome Aluno</h6>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">9:00</td>
          <td></td>
          <td></td>
          <td class="agendamento avaliacao">
            <h6>Nome Aluno</h6>
            <p>8:00 - 10:00</p>
          </td>
          <td></td>
          <td class="agendamento agendamento-lg avaliacao hours">
            <p>8:00 - 9:25</p>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">10:00</td>
          <td></td>
          <td class="agendamento desafio">
            <h6>Nome Aluno</h6>
            <p>10:00 - 10:15</p>
            <h6>Nome Aluno</h6>
            <p>10:20 - 10:35</p>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">11:00</td>
          <td></td>
          <td></td>
          <td class="agendamento desafio">
            <h6>Nome Aluno</h6>
            <p>11:00 - 12:00</p>
          </td>
          <td></td>
          <td></td>
          <td class="agendamento desafio">
            <h6>Nome Aluno</h6>
            <p>11:00 - 11:15</p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">12:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="agendamento desafio">
            <h6>Nome Aluno</h6>
            <p>12:40 - 13:00</p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">13:00</td>
          <td class="agendamento agendamento-lg done name">
            <h6>Nome do aluno</h6>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">14:00</td>
          <td class="agendamento agendamento-lg done hours">
            <p>13:00 - 15:00</p>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td class="agendamento avaliacao">
            <h6>Nome do aluno</h6>
            <p>14:00 - 14:30</p>
            <h6>Nome do aluno</h6>
            <p>14:30 - 15:00</p>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">15:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">16:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="hour-td">17:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="agendamento desafio">
            <h6>Nome do aluno</h6>
            <p>17:00 - 17:10</p>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>