<app-header></app-header>

<div class="main">
    <div class="row row1">
      <app-avaliacoes-realizadas></app-avaliacoes-realizadas>
    </div>
    <div class="row row2">
        <div class="col-sm-9" style="padding-right: 0px">
            <div class="row linha1">
              <div class="col-auto coluna1">
                  <a routerLink="/aluno/compararAvaliacao"><button class="btn btn-lg pull-right" > Comparar</button></a>
              </div>
              <div class="col-auto coluna2">
                  <button type="button ver" class="btn btn-lg">
                      <a href="#">Ver imagens</a>
                  </button>
              </div>
              <div class="col-auto coluna3">
                  <button
                    type="button"
                    id="modalBtn"
                    class="btn btn-lg shadow-none"
                    routerLink="/aluno/agendarAvaliacao"
                  >
                    Agendar Avaliação
                  </button>
              </div>
            </div>
            <div class="row linha2">
              <app-dados-avaliacoes-realizadas></app-dados-avaliacoes-realizadas>
            </div>
        </div> 
        <div class="col-sm-2">
          <app-medidas-avaliacoes-realizadas></app-medidas-avaliacoes-realizadas>
        </div>     
    </div>
</div>
<app-footer><app-footer>
