<app-header></app-header>

<div class="main">
    <div class="row row1">
        <div class="col-auto col1">
            <div class="row drop">
                <app-dropdown-comparar></app-dropdown-comparar>
            </div>
            <div class="row drop">
                <app-dropdown-comparar></app-dropdown-comparar>
            </div>
            <div class="row comparar">
                <button type="button" class="btn btn-lg" id="btn-comparar">Comparar</button>
            </div>
        </div>
        <div class="col-auto medidas">
            <app-medidas-comparar-avaliacao></app-medidas-comparar-avaliacao>
        </div>
        <div class="col-auto medidas">
            <app-medidas-comparar-avaliacao2></app-medidas-comparar-avaliacao2>
        </div>
    </div>
    <div class="row row2">
        <app-dados-comparar-avaliacao></app-dados-comparar-avaliacao>
    </div>
    <div class="row row2">
        <app-dados-comparar-avaliacao2></app-dados-comparar-avaliacao2>
    </div>
</div>
<footer>
    <p>&copy; 2022 ResCode All rights reserved</p>
</footer>
    
    

