<app-header></app-header>

<div class="main">
    <div class="row row1">
        <div class="col-auto col1">
            <!-- vou ter um form para ir buscar as datas e ao carregar no onSubmit vou chamar um get para ir buscar os dados -->
            <form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit(mySelect, mySelect2)">
                <h5 style="margin-left: 80px;">1ªData de avaliação:</h5>
            <div class="row drop">
                    <!-- no dropdown vou buscar as datas ao array - a cada data vai estar associado um id - vai ser preciso para ir buscar os restantes dados -->
                    <!-- mySelect é para ir buscar o que selecionei para mandar para o submit e mandar para a função para ir fazer o get -->
                    <select name="my-select" class="drop" [(ngModel)]="mySelect" formControlName="avaliacao_id_0">
                        <!-- para cada data vamos buscar o id para poder fazer o pedido do POST ao submeter -->
                        <option *ngFor="let item of datasAval" [ngValue]="item.avaliacao_id">
                            {{item.data}}
                        </option>
                    </select>
            </div>
            <h5 style="margin-top: 20px; margin-left: 80px;">2ªData de avaliação:</h5>
            <div class="row drop">
                    <select name="my-select2" class="drop" [(ngModel)]="mySelect2" formControlName="avaliacao_id_1">
                        <option *ngFor="let item of datasAval" [ngValue]="item.avaliacao_id">
                            {{item.data}}
                        </option>
                    </select>
            </div>
            <div class="row comparar">
                <button type="submit" class="btn btn-lg" id="btn-comparar">Comparar</button>
            </div>
            </form>
        </div>  
        <div class="col-auto medidas">
            <app-medidas-comparar-avaliacao [avaliacao]="avaliacao0"></app-medidas-comparar-avaliacao>
        </div>
        <div class="col-auto medidas">
            <app-medidas-comparar-avaliacao2 [avaliacao]="avaliacao1"></app-medidas-comparar-avaliacao2>
        </div>
    </div>
    <div class="row row2">
        <app-dados-comparar-avaliacao [avaliacao]="avaliacao0"></app-dados-comparar-avaliacao>
    </div>
    <div class="row row2">
        <app-dados-comparar-avaliacao2 [avaliacao]="avaliacao1"></app-dados-comparar-avaliacao2>
    </div>
</div>
<footer>
    <p>&copy; 2022 ResCode All rights reserved</p>
</footer>
    
    

