.dropdown{
    margin-top: 20px;
}

.dropdown button{
    border-radius: 18px;
    border-color: black;
    background-color: #FFFFFF;
    width: 150%;
    text-align: left;
}

.dropdown-toggle{
    font-family: 'Rubik';
    font-size: 20px;
    color: black;
}

.dropdown hr{
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown-menu{
    padding-top: 5px;
}

/* butão principal que abre a dropdown - aqui quando está selecionada pelo rato */
.dropdown button:hover{
    background-color: #FFFFFF;
    color: #f80505;
}

.dropdown a:hover{
    background-color: #c4c4c4;
    color: #000000;
}

.con2{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 0px;
    height: 200px;
}

.con2 .scroll{
    width: 350px;
}