<div class="card">
    <div class="card-body">
        <div class="container">
            <h5 class="title medidas1">Medidas 1ª Data</h5>
            <div class="scroll col flex-nowrap">  
                <div class="row row-interior" *ngFor="let medida of medidas">
                    <div class="col-sm-7 col221">
                        <h6 class="title">{{medida.nome}}</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>{{medida.valor}}</p>
                    </div>
                    <hr/>
                </div>   
            </div>         
        </div> 
    </div>
</div>