<div class="card left">
  <div class="card-body">
    <h5 class="card-title">Exercicios selecionados</h5>
    <div class="col space">
      <div class="row botaoPrincipal">
        <button type="button" class="btn btn-primary botao">
          Alterar foto do exercicio
        </button>
      </div>
      <div class="row principal">
        <div class="col-auto img">
          <img src="../../../../assets/img/supino.png" height="70px" />
        </div>
        <div class="col-auto text-supino">
          <p>Supino</p>
        </div>
        <div class="col"></div>
      </div>

      <div class="row principal nome">
        <div class="col-auto text-nome">
          <p>Nome</p>
        </div>
        <div class="col-sm-7">
          <div class="card">
            <input class="card-nome" type="text" name="IMC" id="name" placeholder="Text" />
          </div>
        </div>
      </div>

      <div class="row principal descricaon">
        <div class="col-auto text-nome">
          <p>Descrição</p>
        </div>
        <div class="col-sm-7 descricao">
          <div class="card">
            <input class="card-descricao" type="text" name="IMC" id="name" placeholder="Text" />
          </div>
        </div>
      </div>

      <div class="row principal-musculos">
        <div class="col-auto text-musculos">
          <p>Músculos</p>
        </div>
        <div class="row scroll flex-nowrap">
          <div class="col-auto descricao">
            <div class="row principal-circle">
              <i class="bi bi-circle-fill circle"></i>
            </div>
            <div class="row principal-box">
              <p>Nome Musculo</p>
            </div>
            <div class="row botao-musculo">
              <button type="button" class="btn btn-primary botaoMusculo">
                Adicionar músculo
              </button>
            </div>
          </div>

          <div class="col-auto descricao">
            <div class="row principal-circle">
              <i class="bi bi-circle-fill circle"></i>
            </div>
            <div class="row principal-box">
              <p>Nome Musculo</p>
            </div>
            <div class="row botao-musculo">
              <button type="button" class="btn btn-primary botaoMusculo">
                Adicionar músculo
              </button>
            </div>
          </div>
          <div class="col-auto descricao">
            <div class="row principal-circle">
              <i class="bi bi-circle-fill circle"></i>
            </div>
            <div class="row principal-box">
              <p>Nome Musculo</p>
            </div>
            <div class="row botao-musculo">
              <button type="button" class="btn btn-primary botaoMusculo">
                Adicionar músculo
              </button>
            </div>
          </div>
          <div class="col-auto descricao">
            <div class="row principal-circle">
              <i class="bi bi-circle-fill circle"></i>
            </div>
            <div class="row principal-box">
              <p>Nome Musculo</p>
            </div>
            <div class="row botao-musculo">
              <button type="button" class="btn btn-primary botaoMusculo">
                Adicionar músculo
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row principal-botoes">
        <div class="col-sm-5 botoes-black">
          <button type="button" class="btn btn-primary botaoblack" onclick="myFunction();">
            Cancelar
          </button>
        </div>
        <div class="col-sm-5 botoes-red">
          <button type="button" class="btn btn-primary botaored" onclick="myFunction2();">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>