<div class="col-md-3 col-sm-3 col-xs-4 alunos" *ngFor="let val of alunos" style="float:left">
    <div class="card-interior">
        <div class="foto">
            <img src="aluno.png" class="img-responsive">
            <div class="textos">
                <li class="nome">{{val.nome}}</li>
                <p class="data">Inscrito desde {{val.date}}</p>
                <p class="tag">{{val.hashtag}}</p>
            </div>
        </div>
        <div class="buttons">
            <button routerLinkActive="active" routerLink="/perfil/:id" class="btn">Perfil</button> <!--falta saber qual é o id do aluno-->
            <button routerLinkActive="active" routerLink="/treinador/criarAvaliacao" class="btn">Avaliação fisica</button>
            <button routerLinkActive="active" routerLink="/" class="btn">Plano de treino</button> <!--Criar plano de treino-->
        </div>
    </div>
</div>
