<!--card publicações black-->

<div class="card publicacoes-black">
  <div class="card-body">
    <div class="card publicacoes-white">
      <div class="card-body">
        <div class="col">
          <div class="row">
            <div class="col-auto mini-imagem">
              <a href="http://127.0.0.1:5500/mockupsLimpos/perfil.html"><img src="../../../assets/img/person.png"
                  height="70px" /></a>
            </div>
            <div class="col-auto nome">
              <p>António Miguel Silva</p>
            </div>
          </div>

          <div class="row texto">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Ut tempor ipsum at eleifend finibus. Aenean ultrices
              tincidunt convallis. In mollis sodales risus, quis luctus
              velit auctor in. In hac habitasse platea dictumst.
            </p>
          </div>
          <div class="row gajo">
            <div class="col-sm-4">
              <img src="../../../assets/img/gajo.png" height="
              400px" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row linha-gostos">
      <div class="col-auto">
        <i class="bi bi-heart-fill gostos" id="gostosIcon" data-value="0"></i>
      </div>

      <div class="col-auto">
        <p id="gostosVal">20 gostos</p>
      </div>
    </div>
    <div class="row time">
      <p>há 1 hora</p>
    </div>

    <div class="row linha">
      <hr />
    </div>

    <div class="row linha-comentario">
      <div class="col-auto">
        <i class="bi bi-emoji-smile emoji"></i>
      </div>

      <div class="col-auto">
        <input class="comentario" type="text" name="Abdómen" id="name" placeholder="Adicionar um comentário" />
      </div>
    </div>
  </div>
</div>