<h5 class="title" style="margin-top: 0px; margin-bottom: 0px;">1ª Data Selecionada</h5>
<div class="card cartao">
    <div class="card-body fora">
        <div class="row linha-interior" style="margin: 0px">
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Peso</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/weight-scale.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-9">
                                <p>85 Kg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Massa Muscular</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/muscle.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-9">
                                <p>35 Kg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Gordura Corporal</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/liposuction.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-9">
                                <p class="numb1">30%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Gordura Visceral</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/body-fat.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-9">
                                <p class="numb2">10%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Água</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/trans-fat.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-9">
                                <p class="numb3">73%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Proteína</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/proteins.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-9">
                                <p class="numb4">50%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Massa Óssea</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/bone.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-9">
                                <p>10 Kg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <div class="card-body dentro">
                        <h6 class="title">Metabolismo Basal</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="../../../../assets/img/kcal.png" height="60" id="imagem">
                            </div>
                            <div class="col-sm-8 kcal">
                                <p>50 Kcal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
