

.btn{
  display: flex;
  justify-content: flex-end;
}

.firstbutton {
  display: flex;
  justify-content: flex-end;  
  align-items: flex-end ;
  padding-top: 10px;
  padding-bottom: 10px;
}

.botao {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-radius: 1.2rem;
  color: white;
  border-color: #ff5050;
  background-color: #ff5050;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:focus-visible,
.btn-primary:focus,
.btn-primary.active {
  background-color: #ff5050;
  border-color: #ff5050;
}
