<app-header></app-header>
<div class="main-page">
  <div class="col">
    <div class="filtro row">
      <div class="col-auto">
        <p>Filtrar por:</p>
      </div>
      <div class="col-auto">
        <div class="dropdown">
          <button class="form-control shadow-none dropdown-toggle" type="button" id="dropdownFiltro"
            data-bs-toggle="dropdown" aria-expanded="false">
            Todos
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownFiltro">
            <li><a class="dropdown-item" href="#">Todos</a></li>
            <li><a class="dropdown-item" href="#">Comentários</a></li>
            <li><a class="dropdown-item" href="#">Likes</a></li>
            <li><a class="dropdown-item" href="#">Desafios</a></li>
            <li><a class="dropdown-item" href="#">Agendamento</a></li>
          </ul>
        </div>
      </div>
    </div>

    <app-notificacoes-aplicacao></app-notificacoes-aplicacao>

  </div>
</div>
<app-footer></app-footer>