.main-page {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  height: 88.5%;
}

.filtro {
  margin-right: 50px;
  margin-bottom: 0px;
}

.filtro.row {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.filtro p {
  margin: 0px;
}

.notificacoes.row {
  justify-content: space-around;
}
