<div class="card">
    <div class="card-body">
        <div class="container">
            <h5 class="title medidas1">Medidas 1ª Data</h5>
            <div class="scroll col flex-nowrap">  
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Braço</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>27 cm</p>
                    </div>
                </div>
                <hr/>
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Antebraço</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>20 cm</p>
                    </div>
                </div>
                <hr/> 
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Coxa</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>51 cm</p>
                    </div>
                </div>
                <hr/> 
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Barriga</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>93 cm</p>
                    </div>
                </div>
                <hr/> 
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Peito</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>105 cm</p>
                    </div>
                </div>
                <hr/> 
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Ombros</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>70 cm</p>
                    </div>
                </div>
                <hr/>
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Ombros</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>70 cm</p>
                    </div>
                </div>
                <hr/>
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Ombros</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>70 cm</p>
                    </div>
                </div>
                <hr/>
                <div class="row row-interior">
                    <div class="col-sm-7 col221">
                        <h6 class="title">Ombros</h6>
                    </div>
                    <div class="col-auto col222">
                        <p>70 cm</p>
                    </div>
                </div>
                <hr/>   
            </div>         
        </div> 
    </div>
</div>