/* para a tag do copyright */
footer p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.btn-lg{
    background-color: #FF5050;
    border-color: #FF5050;
    border-radius: 30px;
    font-family: 'Rubik';
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    margin-right: 30px;
}

.col-auto{
    padding: 0px;
}

/* row 1 */
.row1{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.linha-botao{
    padding-left: 50px;
}

.linha22{
    margin-top: 38px;
}
.direita{
    margin-left: 0px;
}

.linha2{
    margin-top: 45px;
    margin-right: 0px;
}