<app-header></app-header>

<div class="main">
    <button class="btn btn-lg shadow-none" style="border-color: white; background-color: white;"><a><i class="bi bi-caret-left-square-fill" style="font-size:35px; color: #FF5050;"></i></a></button>
    <button class="btn btn-lg shadow-none" style="border-color: white; background-color: white;"><a><i class="bi bi-caret-right-square-fill" style="font-size:35px; color: #FF5050"></i></a></button>
    <div class="row row1">
        <div class="col-sm-9" style="padding: 0px;">
            <div class="row linha1">
                <app-identificacao-aluno-avaliacao></app-identificacao-aluno-avaliacao>
            </div>
            <div class="row linha2">
                <app-dados-aluno-avaliacao></app-dados-aluno-avaliacao>
            </div>
        </div>
        <div class="col-sm-2 direita">
            <div class="row linha-botao" style="padding-left: 20px;">
                <app-butao-editar-avaliacao></app-butao-editar-avaliacao>
            </div>
            <div class="row linha22">
                <app-medidas-ver-avaliacao></app-medidas-ver-avaliacao>
            </div>
        </div>
    </div>
</div>
<app-footer><app-footer>

