<app-header></app-header>

<div class="container">
  <div class="row date">
    <app-data></app-data>
  </div>
  <div class="row firstbutton">
    <app-botao-desafio></app-botao-desafio>
  </div>
  <div class="row firstbutton">
    <app-botao-avaliacao></app-botao-avaliacao>
  </div>
  <div class="row calendario">
    <app-calendario></app-calendario>
  </div>
  <div class="row setas">
    <div class="col-auto left">
      <app-seta-esquerda></app-seta-esquerda>
    </div>
    <div class="col-auto right">
      <app-seta-direita></app-seta-direita>
    </div>


  </div>

</div>