* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

.container {
  padding: 7px;
}

.card-body {
  padding: 5px;
}

.container-right {
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.colocacoes {
  overflow-y: auto;
  margin: 0px;
  margin-top: 5px;
  height: 240px;
}

.colocacoes .col {
  padding: 0px;
  margin: 0px;
}

.colocacoes p {
  font-size: 27px;
  margin: 0px;
  text-align: start;
}

.colocacoes i {
  font-size: 35px;
}

.colocacoes img {
  width: 35px;
  height: 35px;
}

.colocacoes .placement {
  color: #ff5050;
  font-weight: bold;
  text-align: center;
  width: 42px;
}

.colocacoes .hashtag {
  color: #989191;
}

.colocacoes .col-auto {
  padding: 0px;
}

.colocacoes .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
