<div class="card">
    <div class="card-body">
        <div class="col col11">
            <div class="row linha111">
                <h5 class="title">Identificação do aluno</h5>
            </div>
            <div class="row linha112"> 
                <div class="col-sm-3 col112" style="padding-left: 0px;">
                    <div class="row">
                        <div class="col-auto col111" style="padding-right: 0px;">
                            <img src="../../../../assets/img/user.png" height="50">
                        </div>
                        <div class="col" style="padding-left: 25px;">
                            <h5 class="title">António Miguel Silva</h5>
                            <h6 class="title">#amj017</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col12">
                    <p>Inscrito desde 01/12/2021</p> 
                </div>
                <div class="col-sm-4 col13">
                    <div class="row linha131">
                        <h5 class="title">Dados da avaliação física</h5>
                    </div>
                    <div class="row linha132">
                        <div class="col-sm-6 col131">
                            <p>Data: 12/03/2022</p>
                        </div>
                        <div class="col-sm-5 col132">
                            <p>2ªAvaliação</p>
                        </div>
                    </div>                          
                </div>
            </div>                            
        </div>
    </div>
</div>
