* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

h1 {
  font-weight: normal;
  letter-spacing: 10px;
}

.one-line-text {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container {
  padding: 7px;
}

/**********
 * scroll *
/**********/
.scroll-horizontal {
  overflow-x: auto;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.scroll-horizontal .col-sm-4 {
  padding-left: 0px;
  padding-right: 6px;
  padding-left: 6px;
}

.light-text {
  color: #4d4d4d;
}

.card-body {
  padding: 5px;
}

.modalidade {
  color: #ff5050;
}

.text-center-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-title {
  color: #ff5050;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
}

.card-mini-plano-treino {
  text-align: center;
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
}

.card-mini-plano-treino h6 {
  font-size: 20px;
  text-align: center;
  margin: 0px;
  padding-bottom: 0px;
  color: black;
}

.card-mini-plano-treino p {
  font-size: 17px;
  margin: 0px;
}
