<div class="card cartao1">
    <div class="card-body" style="padding-bottom: 45px">
        <div class="container">
        <h5 class="title">Dados</h5>
        <div class="row info1">
            <div class="col-auto" *ngFor="let dado of dadosAvaliacao1">
            <div class="card">
                <div class="card-body">
                <h6 class="title">{{dado.nome}}</h6>
                <div class="row int">
                    <div class="col-sm-1">
                    <img
                        src="../../../../assets/img/weight-scale.png"
                        height="80"
                    />
                    </div>
                    <div class="col-sm-8">
                    <p>{{dado.valor}}</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row info2">
            <div class="col-auto" *ngFor="let dado of dadosAvaliacao2">
                <div class="card">
                    <div class="card-body fat">
                        <h6 class="title">{{dado.nome}}</h6>
                        <div class="row int">
                            <div class="col-sm-1">
                            <img src="../../../../assets/img/trans-fat.png" height="80" />
                            </div>
                            <div class="col-sm-8">
                            <p class="numb3">{{dado.valor}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
